# Игнорирование конфигураций PyCharm
../.idea/

# Игнорирование виртуальных окружений
myshop/venv/
env/

# Игнорирование системных папок Python
__pycache__/

# Игнорирование базы данных SQLite
*.sqlite3

# Игнорирование файлов миграций
*/migrations/*

# Игнорирование файлов логов
*.log

# Игнорирование файлов ОС
.DS_Store
Thumbs.db
