{% extends 'webapp/base.html' %}

{% block title %}Каталог{% endblock %}

{% block content %}
<h1>Каталог</h1>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <img src="https://via.placeholder.com/150" class="card-img-top" alt="Товар">
            <div class="card-body">
                <h5 class="card-title">Товар 1</h5>
                <p class="card-text">Описание товара 1</p>
                <a href="#" class="btn btn-primary">Подробнее</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img src="https://via.placeholder.com/150" class="card-img-top" alt="Товар">
            <div class="card-body">
                <h5 class="card-title">Товар 2</h5>
                <p class="card-text">Описание товара 2</p>
                <a href="#" class="btn btn-primary">Подробнее</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
